<!DOCTYPE html>
<html>
  <head>
    <title>ProjManager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <script src="https://use.fontawesome.com/986c7ef593.js"></script>

</head>
<body>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
